In [1]:
# You can assign a multiline string to a variable by using three quotes/single quotes:
a = """" Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""

print(a)
# Note: in the result, the line breaks are inserted at the same position as in the code.

" Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

#### Strings are arrays
Like many other popular programming languages, strings in Python are arrays of bytes representing unicode characters.<br>
However, Python does not have a character data type, a single character is simply a string with a length of 1.<br>
Square brackets can be used to access elements of the string.

In [2]:
# Get the character at position 1 (remember that the first character has the position 0):
a = "Hello, World!"
print(a[1])

e

In [3]:
# Since strings are arrays, we can loop through the characters in a string, with a for loop.
for x in 'banana':
    print(x)

b
a
n
a
n
a

In [4]:
# To get the length of a string, use the len() function.
len(a)

13

In [5]:
# To check if a certain phrase or character is present in a string, we can use the keyword in.
txt = 'The best things in life are not free'
print('free' in txt)

True

In [6]:
# Use it in an if statement:
if 'free' in txt:
    print("Yes, 'free' is present")

Yes, 'free' is present

In [7]:
# To check if a certain phrase or character is NOT present in a string, we can use the keyword not in:
print('expensive' not in txt)

True

In [8]:
# print only if "expensive" is NOT present:
if 'expensive' not in txt:
    print("No, 'expensive' is NOT present")

No, 'expensive' is NOT present

In [9]:
# Slicing
# You can return a range of characters by using the slice syntax.
# Specify the start index and the end index, separated by a colon, to return a part of the string.
b = 'Hello, World'
print(b[2:5])

llo

In [10]:
# By leaving out the start index, the range will start at the first character:
print(b[:5])

Hello

In [11]:
# By leaving out the end index, the range will go to the end:
print(b[7:])

World

In [12]:
# Use negative indexes to start the slice from the end of the string:
print(b[-5:-2])

Wor

#### Modify Strings
Python has a set of built-in methods that you can use on strings.

In [13]:
# The upper() method returns the string in upper case:
b.upper()

'HELLO, WORLD'

In [14]:
# The lower() method returns the string in lower case:
b.lower()

'hello, world'

In [15]:
# Whitespace is the space before and/or after the actual text, and very often you want to remove this space.
# The strip() method removes any whitespace from the beginning or the end:
a = ' Hello, World '
print(a.strip())

Hello, World

In [16]:
# The replace() method replaces a string with another string:
print(a.replace('H','J'))

 Jello, World

In [17]:
# The split() method returns a list where the text between the specified separator becomes the list items.
print(a.split(','))

[' Hello', ' World ']

In [18]:
# String Concatenation
# To concatenate, or combine, two strings you can use the + operator.
a = 'Hello'
b = "World"
a + b

'HelloWorld'

In [19]:
# To add a space between them, add a " ":
a + " " + b

'Hello World'

#### String Format
As we learned in the Python Variables chapter, we cannot combine strings and numbers like this: <br>
age = 36 <br>
txt = "My name is John, I am " + age <br>
print(txt)

But we can combine strings and numbers by using the format() method! <br>
The format() method takes the passed arguments, formats them, and places them in the string where the placeholders {} are:

In [20]:
# Use the format() method to insert numbers into strings:
age = 36
txt = "My name is John, I am {}"
print(txt.format(age))

My name is John, I am 36

In [21]:
# The format() method takes unlimited number of arguments, and are placed into the respective placeholders:
quantity = 3
itemno = 495
price = 27.95

myorder = "I want {} pieces of item {} for {} dollars"
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 495 for 27.95 dollars

In [22]:
# You can use index numbers {0} to be sure the arguments are placed in the correct placeholders:
myorder = 'I want to pay {2} dollars for {0} pieces of item {1}'
print(myorder.format(quantity, itemno, price))

I want to pay 27.95 dollars for 3 pieces of item 495

#### Escape Characters
To insert characters that are illegal in a string, use an escape character. <br>
An escape character is a backslash \ followed by the character you want to insert. <br>
An example of an illegal character is a double quote inside a string that is surrounded by double quotes: <br>
txt = "We are the so-called "Vikings" from the north."

In [23]:
# The escape character allows you to use double quotes when you normally would not be allowed:
txt = "We are the so-called \"Vikings\" from the north"
txt

'We are the so-called "Vikings" from the north'

In [24]:
# Other escape characters used in Python:
# single quote \'
txt = 'It\'s a nice day'
txt

"It's a nice day"

In [25]:
# backslash \\
print('This will insert one \\ (backslash)')

This will insert one \ (backslash)

In [26]:
# new line \n
print('Hello \nWorld')

Hello
World

In [27]:
# CarriageReturn \r
txt = ('Python is a programming language \r123456')
print(txt)

123456

In [28]:
# tab \t
print('Hello \tWorld')

Hello 	World

In [29]:
# backspace \b
print('Hello \bWorld')

Hello World

In [30]:
# Octal value \ooo
#A backslash followed by three integers will result in a octal value:
txt = "\110\145\154\154\157"
print(txt) 

# A number system which has its base as 'eight' is called an Octal number system. It uses numbers from 0 to 7.

Hello

In [31]:
# Hex value \xhh
#A backslash followed by an 'x' and a hex number represents a hex value:
txt = "\x48\x65\x6c\x6c\x6f"
print(txt)

Hello

In [32]:
# form feed \f

### String Methods
Python has a set of built-in methods that you can use on strings. <br>
Note: All string methods return new values. They do not change the original string.

Method	Description <br>
**capitalize()**	Converts the first character to upper case <br>
**casefold()**	Converts string into lower case <br>
**center()**	Returns a centered string <br>
**count()**	Returns the number of times a specified value occurs in a string <br>
**encode()**	Returns an encoded version of the string <br>
**endswith()**	Returns true if the string ends with the specified value <br>
**expandtabs()**	Sets the tab size of the string <br>
**find()**	Searches the string for a specified value and returns the position of where it was found <br>
**format()**	Formats specified values in a string <br>
**format_map()**	Formats specified values in a string <br>
**index()**	Searches the string for a specified value and returns the position of where it was found <br>
**isalnum()**	Returns True if all characters in the string are alphanumeric <br>
**isalpha()**	Returns True if all characters in the string are in the alphabet <br>
**isdecimal()**	Returns True if all characters in the string are decimals <br>
**isdigit()**	Returns True if all characters in the string are digits <br>
**isidentifier()**	Returns True if the string is an identifier <br>
**islower()**	Returns True if all characters in the string are lower case <br>
**isnumeric()**	Returns True if all characters in the string are numeric <br>
**isprintable()**	Returns True if all characters in the string are printable <br>
**isspace()**	Returns True if all characters in the string are whitespaces <br>
**istitle()**	Returns True if the string follows the rules of a title <br>
**isupper()**	Returns True if all characters in the string are upper case <br>
**join()**	Joins the elements of an iterable to the end of the string <br>
**ljust()**	Returns a left justified version of the string <br>
**lower()**	Converts a string into lower case <br>
**lstrip()**	Returns a left trim version of the string <br>
**maketrans()**	Returns a translation table to be used in translations <br>
**partition()**	Returns a tuple where the string is parted into three parts <br>
**replace()**	Returns a string where a specified value is replaced with a specified value <br>
**rfind()**	Searches the string for a specified value and returns the last position of where it was found <br>
**rindex()**	Searches the string for a specified value and returns the last position of where it was found <br>
**rjust()**	Returns a right justified version of the string <br>
**rpartition()**	Returns a tuple where the string is parted into three parts <br>
**rsplit()**	Splits the string at the specified separator, and returns a list <br>
**rstrip()**	Returns a right trim version of the string <br>
**split()**	Splits the string at the specified separator, and returns a list <br>
**splitlines()**	Splits the string at line breaks and returns a list <br>
**startswith()**	Returns true if the string starts with the specified value <br>
**strip()**	Returns a trimmed version of the string <br>
**swapcase()**	Swaps cases, lower case becomes upper case and vice versa <br>
**title()**	Converts the first character of each word to upper case <br>
**translate()**	Returns a translated string <br>
**upper()**	Converts a string into upper case <br>
**zfill()**	Fills the string with a specified number of 0 values at the beginning