Lists are used to store multiple items in a single variable.<br>
Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage. <br>
Lists are created using square brackets:

In [1]:
thislist = ['apple','banana','cherry','cherry','apple']
thislist

['apple', 'banana', 'cherry', 'cherry', 'apple']

#### List items
List items are ordered, changeable, and allow duplicate values.<br>
List items are indexed, the first item has index [0], the second item has index [1] etc.

#### Ordered
When we say that lists are ordered, it means that the items have a defined order, and that order will not change.<br>
If you add new items to a list, the new items will be placed at the end of the list.<br>
Note: There are some list methods that will change the order, but in general: the order of the items will not change.

#### Changeable
The list is changeable, meaning that we can change, add, and remove items in a list after it has been created.

#### Allow Duplicates
Since lists are indexed, lists can have items with the same value

In [2]:
# To determine how many items a list has, use the len() function:
len(thislist)

5

In [3]:
# List items can be of any data type
# A list can contain different data types
list1 = ['age', 36, True, 12.8, 'abc']

In [4]:
# From Python's perspective, lists are defined as objects with the data type 'list'
type(list1)

list

In [5]:
# The list() constructor
#It is also possible to use the list() constructor when creating a new list.
thislist = list(('cherry','apple','banana'))  # note the double round-brackets
thislist

['cherry', 'apple', 'banana']

### Python Collections (Arrays)
There are four collection data types in the Python programming language:

**List** is a collection which is ordered and changeable. Allows duplicate members.<br>
**Tuple** is a collection which is ordered and unchangeable. Allows duplicate members.<br>
**Set** is a collection which is unordered, unchangeable, and unindexed. No duplicate members.<br>
**Dictionary** is a collection which is ordered and changeable. No duplicate members.

*Set items are unchangeable, but you can remove and/or add items whenever you like.

**As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

When choosing a collection type, it is useful to understand the properties of that type. Choosing the right type for a particular data set could mean retention of meaning, and, it could mean an increase in efficiency or security.

In [6]:
# ACCESS LIST ITEMS
# List items are indexed and you can access them by referring to the index number:
print(thislist[1])

apple

In [7]:
# Negative indexing means start from the end
print(thislist[-1])

banana

In [8]:
# You can specify a range of indexes by specifying where to start and where to end the range.
# When specifying a range, the return value will be a new list with the specified items.

list1 = ['apple','banana','kiwi','cherry','mango','peach']
print(list1[1:5])

# Note: The search will start at index 1 (included) and end at index 5 (not included).
# Remember that the first item has index 0.

['banana', 'kiwi', 'cherry', 'mango']

In [9]:
# By leaving out the start value, the range will start at the first item:
print(list1[:3])

['apple', 'banana', 'kiwi']

In [10]:
# By leaving out the end value, the range will go on to the end of the list:
print(list1[3:])

['cherry', 'mango', 'peach']

In [11]:
# Specify negative indexes if you want to start the search from the end of the list:
print(list1[-4:-1])

# This example returns the items from "kiwi" (-4) to, but NOT including "peach" (-1):

['kiwi', 'cherry', 'mango']

In [12]:
# To determine if a specified item is present in a list use the in keyword:
if 'mango' in list1:
    print("Yes, 'mango' is in the list")

Yes, 'mango' is in the list

In [13]:
# CHANGE LIST ITEMS
# To change the value of a specific item, refer to the index number:
list1 = ['apple','banana','peach','cherry','kiwi']
list1[1] = 'strawberry'
list1

['apple', 'strawberry', 'peach', 'cherry', 'kiwi']

In [14]:
# To change the value of items within a specific range, define a list with the new values, and refer to the range of 
# index numbers where you want to insert the new values:
list1[2:4] = ['blackberry','blueberry']
print(list1)

['apple', 'strawberry', 'blackberry', 'blueberry', 'kiwi']

In [15]:
# If you insert more items than you replace, the new items will be inserted where you specified, and the remaining items 
# will move accordingly:
list1[1:2] = ['tomato','carrot']
print(list1)

# Note: The length of the list will change when the number of items inserted does not match the number of items replaced.

['apple', 'tomato', 'carrot', 'blackberry', 'blueberry', 'kiwi']

In [16]:
# If you insert less items than you replace, the new items will be inserted where you specified, and the remaining items 
# will move accordingly:
list1[1:4] = ['orange','lemon']
print(list1)

# Change the second third and fourth value by replacing it with two value:

['apple', 'orange', 'lemon', 'blueberry', 'kiwi']

In [17]:
# INSERT ITEMS (Add List Items)
# To insert a new list item, without replacing any of the existing values, we can use the insert() method.
# The insert() method inserts an item at the specified index:

list1.insert(2,'mandarin')
print(list1)

# Note: As a result of the example above, the list will now contain 6 items.

['apple', 'orange', 'mandarin', 'lemon', 'blueberry', 'kiwi']

In [18]:
# APPEND ITEMS
# To add an item to the end of the list, use the append() method:

list1.append('watermelon')
print(list1)

['apple', 'orange', 'mandarin', 'lemon', 'blueberry', 'kiwi', 'watermelon']

In [19]:
# EXTEND LIST
# To append elements from another list to the current list, use the extend() method.

list1 = ['apple','banana']
list2 = ['tomato','carrot']
list1.extend(list2)
print(list1)

# The elements will be added to the end of the list.

['apple', 'banana', 'tomato', 'carrot']

In [20]:
# ADD ANY ITERABLE
# The extend() method does not have to append lists, you can add any iterable object (tuples, sets, dictionaries etc.).

list1 = ['apple','banana']
tuple1 = ('dog','cat')
list1.extend(tuple1)
print(list1)

['apple', 'banana', 'dog', 'cat']

In [21]:
# REMOVE SPECIFIED ITEM
# The remove() method removes the specified item.

list1.remove('banana')
print(list1)

['apple', 'dog', 'cat']

In [24]:
# REMOVE SPECIFIED INDEX
# The pop() method removes the specified index.

list1.pop(2)
print(list1)

['apple', 'dog']

In [25]:
# If you do not specify the index, the pop() method removes the last item.

list1.pop()
print(list1)

['apple']

In [27]:
# The del keyword also removes the specified index:

list1 = ['apple','banana','cherry']
del list1[1]
print(list1)

['apple', 'cherry']

In [28]:
# The del keyword can also delete the list completely.

del list1
print(list1)   #this will cause an error because you have succsesfully deleted "list1"

NameError: name 'list1' is not defined

In [29]:
# The clear() method empties the list.
# The list still remains, but it has no content.

list1 = ['apple','banana']
list1.clear()
print(list1)

[]

In [30]:
# LOOP LIST
# You can loop through the list items by using a for loop:

list1 = ['apple','banana','mango']
for x in list1:
    print(x)

apple
banana
mango

In [32]:
# LOOP THROUGH THE INDEX NUMBERS
# You can also loop through the list items by referring to their index number.
# Use the range() and len() functions to create a suitable iterable.

for i in range(len(list1)):
    print(list1[i])

# The iterable created in the example above is [0, 1, 2].

apple
banana
mango

In [33]:
# USING A WHILE LOOP
# You can loop through the list items by using a while loop.
# Use the len() function to determine the length of the list, then start at 0 and loop your way through the list items by 
# referring to their indexes.
# Remember to increase the index by 1 after each iteration.

list1 = ['apple','banana','cherry']
i = 0
while i < len(list1):
    print(list1[i])
    i += 1

apple
banana
cherry

In [34]:
# LOOPING USING LIST COMPREHENSION
# List Comprehension offers the shortest syntax for looping through lists:

list1 = ['apple','banana','cherry']
[print(x) for x in list1]

apple
banana
cherry

[None, None, None]

### List Comprehension
List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

Example:

Based on a list of fruits, you want a new list, containing only the fruits with the letter "a" in the name. <br>
Without list comprehension you will have to write a for statement with a conditional test inside:

In [35]:
list1 = ['apple','banana','cherry']
newlist = []

for value in list1:
    if 'a' in value:
        newlist.append(value)
        
newlist

['apple', 'banana']

In [37]:
# With list comprehension you can do all that with only one line of code:
newlist = [value for value in list1 if 'a' in value]
newlist

['apple', 'banana']

### The Syntax

newlist = [expression **for** item **in** iterable **if** condition == True]

The return value is a new list, leaving the old list unchanged.

In [38]:
# Condition
# The condition is like a filter that only accepts the items that valuate to True.

newlist = [value for value in list1 if value !='banana']
newlist

['apple', 'cherry']

In [39]:
# The condition is optional and can be omitted:
newlist = [x for x in list1]
newlist

['apple', 'banana', 'cherry']

In [40]:
# Iterable
# The iterable can be any iterable object, like a list, tuple, set etc.
# You can use the range() function to create an iterable:

newlist = [x for x in range(10)]
newlist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [41]:
# Same example, but with a condition:

newlist = [x for x in range(10) if x < 5]
newlist

[0, 1, 2, 3, 4]

In [42]:
# Expression
# The expression is the current item in the iteration, but it is also the outcome, which you can manipulate before it ends up 
# like a list item in the new list:
# Set the values in the new list to upper case:

newlist = [x.upper() for x in list1]
newlist

['APPLE', 'BANANA', 'CHERRY']

In [43]:
# You can set the outcome to whatever you like:
# Set all values in the new list to 'hello':

newlist = ['hello' for x in list1]
newlist

['hello', 'hello', 'hello']

In [44]:
# The expression can also contain conditions, not like a filter, but as a way to manipulate the outcome:
# Return "orange" instead of "banana":

newlist = [x if x != 'banana' else 'orange' for x in list1]
newlist

#The expression in the example above says:
# "Return the item if it is not banana, if it is banana return orange".

['apple', 'orange', 'cherry']

In [45]:
# SORT LIST ALPHANUMERICALLY
# List objects have a sort() method that will sort the list alphanumerically, ascending, by default:

list1 = ['apple','strawberry','mango','kiwi','peach']
list1.sort()
list1

['apple', 'kiwi', 'mango', 'peach', 'strawberry']

In [46]:
list2 = [100, 25, 45, 11, 98]
list2.sort()
print(list2)

[11, 25, 45, 98, 100]

In [48]:
# To sort descending, use the keyword argument reverse = True
list1.sort(reverse = True)
list1

['strawberry', 'peach', 'mango', 'kiwi', 'apple']

In [50]:
# CUSTOMIZE SORT FUNCTION
# You can also customize your own function by using the keyword argument key = function.
# The function will return a number that will be used to sort the list (the lowest number first):
# Sort the list based on how close the number is to 50:

def myFunct(n):
    return abs(n - 50)

list2.sort(key = myFunct)
print(list2)

[45, 25, 11, 98, 100]

In [51]:
# CASE INSENSITIVE SORT
# By default the sort() method is case sensitive, resulting in all capital letters being sorted before lower case letters:
# Case sensitive sorting can give an unexpected result:

list1 = ['apple','Kiwi','Mango','cherry']
list1.sort()
print(list1)

['Kiwi', 'Mango', 'apple', 'cherry']

In [52]:
# Luckily we can use built-in functions as key functions when sorting a list.
# So if you want a case-insensitive sort function, use str.lower as a key function:

list1.sort(key = str.lower)
print(list1)

['apple', 'cherry', 'Kiwi', 'Mango']

In [53]:
# REVERSE ORDER
# What if you want to reverse the order of a list, regardless of the alphabet?
# The reverse() method reverses the current sorting order of the elements.

list1.reverse()
print(list1)

['Mango', 'Kiwi', 'cherry', 'apple']

In [54]:
# COPY A LIST
# You cannot copy a list simply by typing list2 = list1, because: list2 will only be a reference to list1, and changes
# made in list1 will automatically also be made in list2.
# There are ways to make a copy, one way is to use the built-in List method copy().

list1 = ['apple','banana','cherry']
mylist = list1.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [55]:
# Another way to make a copy is to use the built-in method list().

mylist = list(list1)
print(mylist)

['apple', 'banana', 'cherry']

In [58]:
# JOIN LISTS
# There are several ways to join, or concatenate, two or more lists in Python.
# One of the easiest ways are by using the + operator.

list1 = ["a","b","c"]
list2 = [1,2,3]
list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [59]:
# Another way to join two lists is by appending all the items from list2 into list1, one by one:

for x in list2:
    list1.append(x)
    
print(list1)

['a', 'b', 'c', 1, 2, 3]

In [60]:
# Or you can use the extend() method, which purpose is to add elements from one list to another list:

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3, 1, 2, 3]

### List Methods
Python has a set of built-in methods that you can use on lists.

Method	Description <br>
**append()**	Adds an element at the end of the list <br>
**clear()**	Removes all the elements from the list <br>
**copy()**	Returns a copy of the list <br>
**count()**	Returns the number of elements with the specified value <br>
**extend()**	Add the elements of a list (or any iterable), to the end of the current list <br>
**index()**	Returns the index of the first element with the specified value <br>
**insert()**	Adds an element at the specified position <br>
**pop()**	Removes the element at the specified position <br>
**remove()**	Removes the item with the specified value <br>
**reverse()**	Reverses the order of the list <br>
**sort()**	Sorts the list