Sets are used to store multiple items in a single variable.

Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

A set is a collection which is unordered, unchangeable*, and unindexed.

* Note: Set items are unchangeable, but you can remove items and add new items.

Sets are written with curly brackets.

In [1]:
# Create a set

set1 = {'rose','tulip','daisy'}
print(set1)

# Note: Sets are unordered, so you cannot be sure in which order the items will appear.

{'daisy', 'tulip', 'rose'}

### Set Items
Set items are unordered, unchangeable, and do not allow duplicate values.

### Unordered
Unordered means that the items in a set do not have a defined order.

Set items can appear in a different order every time you use them, and cannot be referred to by index or key.

### Unchangeable
Set items are unchangeable, meaning that we cannot change the items after the set has been created.

Once a set is created, you cannot change its items, but you can remove items and add new items.

### Duplicates Not Allowed
Sets cannot have two items with the same value.

In [2]:
set1 = {'rose','daisy','daisy','tulip'}
print(set1)

{'daisy', 'tulip', 'rose'}

In [5]:
# Note: The values True and 1 are considered the same value in sets, and are treated as duplicates:
set1 = {True, 1, False, 'a', 0}
print(set1)

{False, True, 'a'}

In [6]:
# To determine how many items a set has, use the len() function.
print(len(set1))

3

In [7]:
# SET ITEMS - DATA TYPES
# Set items can be of any data type
# A set can contain different data types

myset = {True, 3, 'cat', 0.2}
myset

{0.2, 3, True, 'cat'}

In [8]:
# From Python's perspective, sets are defined as objects with the data type 'set':
print(type(myset))

<class 'set'>

In [9]:
# The set() Constructor
# It is also possible to use the set() constructor to make a set.

myset = set((1, True, 2.5, 'daisy'))
myset

{1, 2.5, 'daisy'}

### Access Items
You cannot access items in a set by referring to an index or a key.

But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

In [10]:
# Loop through the set, and print the values:

myset = {'rose','tulip','daisy'}
for x in myset:
    print(x)

daisy
tulip
rose

In [11]:
# Check if "tulip" is present in the set:

print('tulip' in myset)

True

### Change Items
Once a set is created, you cannot change its items, but you can add new items.

In [12]:
# ADD ITEMS
# To add one item to a set use the add() method.

myset.add('lily')
print(myset)

{'lily', 'daisy', 'tulip', 'rose'}

In [13]:
# ADD SETS
# To add items from another set into the current set, use the update() method.

y = {1, 2, 3}
myset.update(y)
print(myset)

{1, 'lily', 2, 'daisy', 3, 'tulip', 'rose'}

In [14]:
# ADD ANY ITERABLE
# The object in the update() method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.).

list1 = [45, 0.9]
myset.update(list1)
print(myset)

{0.9, 1, 2, 3, 'daisy', 'tulip', 'rose', 'lily', 45}

In [16]:
# REMOVE ITEMS
# To remove an item in a set, use the remove(), or the discard() method.

myset.remove(45)
print(myset)

# Note: If the item to remove does not exist, remove() will raise an error.

{0.9, 1, 2, 3, 'daisy', 'tulip', 'rose', 'lily'}

In [18]:
myset.discard('tiger')
print(myset)

# Note: If the item to remove does not exist, discard() will NOT raise an error.

{0.9, 1, 2, 3, 'daisy', 'tulip', 'rose'}

In [22]:
# You can also use the pop() method to remove an item, but this method will remove a random item, so you cannot be sure
# what item that gets removed.
# The return value of the pop() method is the removed item.
myset = {'daisy','tulip','rose', 1, 2, 3}
x = myset.pop()
print(myset)
print(x)

{2, 3, 'daisy', 'tulip', 'rose'}
1

In [24]:
# The clear() method empties the set:
myset.clear()
print(myset)

set()

In [25]:
# The del keyword will delete the set completely:

myset = {1, 2, 3}
del myset
print(myset)

NameError: name 'myset' is not defined

In [26]:
# LOOP SETS
# You can loop through the set items by using a for loop:

myset = {'rose','tulip','daisy'}
for x in myset:
    print(x)

daisy
tulip
rose

In [27]:
# JOIN SETS
# There are several ways to join two or more sets in Python.
# You can use the union() method that returns a new set containing all items from both sets, or the update() method that 
# inserts all the items from one set into another

seta = {1, 2, 3}
setb = {'a', 'b', 'c'}
setc = seta.union(setb)
print(setc)

{1, 2, 3, 'c', 'b', 'a'}

In [28]:
seta.update(setb)
print(seta)

# Note: Both union() and update() will exclude any duplicate items.

{1, 2, 3, 'c', 'b', 'a'}

In [29]:
# KEEP ONLY THE DUPLICATES
# The intersection_update() method will keep only the items that are present in both sets.

x = {'apple','cherry'}
y = {'apple','facebook'}

x.intersection_update(y)
print(x)

{'apple'}

In [30]:
# The intersection() method will return a new set, that only contains the items that are present in both sets.

z = x.intersection(y)
print(z)

{'apple'}

In [32]:
# KEEP ALL, BUT NOT THE DUPLICATES
# The symmetric_difference_update() method will keep only the elements that are NOT present in both sets.

x = {'apple','cherry'}
y = {'apple','facebook'}
x.symmetric_difference_update(y)
print(x)

{'cherry', 'facebook'}

In [34]:
# The symmetric_difference() method will return a new set, that contains only the elements that are NOT present in both sets.

x = {'apple','cherry'}
y = {'apple','facebook'}
z = x.symmetric_difference(y)
print(z)

{'cherry', 'facebook'}

In [35]:
# Note: The values True and 1 are considered the same value in sets, and are treated as duplicates:

x = {'apple','cherry', 1}
y = {'apple','facebook', True}

z = x.symmetric_difference(y)
print(z)

{'cherry', 'facebook'}

### Set Methods
Python has a set of built-in methods that you can use on sets.

Method	Description <br>
**add()**	Adds an element to the set <br>
**clear()**	Removes all the elements from the set<br>
**copy()**	Returns a copy of the set<br>
**difference()**	Returns a set containing the difference between two or more sets<br>
**difference_update()**	Removes the items in this set that are also included in another, specified set<br>
**discard()**	Remove the specified item<br>
**intersection()**	Returns a set, that is the intersection of two other sets<br>
**intersection_update()**	Removes the items in this set that are not present in other, specified set(s)<br>
**isdisjoint()**	Returns whether two sets have a intersection or not<br>
**issubset()**	Returns whether another set contains this set or not<br>
**issuperset()**	Returns whether this set contains another set or not<br>
**pop()**	Removes an element from the set<br>
**remove()**	Removes the specified element<br>
**symmetric_difference()**	Returns a set with the symmetric differences of two sets<br>
**symmetric_difference_update()**	inserts the symmetric differences from this set and another<br>
**union()**	Return a set containing the union of sets<br>
**update()**	Update the set with the union of this set and others